.search-bar {
	--margin: 0 auto;
	width: 40%;
	height: 100px;
	border: none;
	line-height: 44px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: #af7ac5;
	font-size: 36px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	margin-top: 2%;
	margin-bottom: 2%;
	outline: #af7ac5;
	padding-left: 1%;
}

.clear-btn {
	background-color: white;
	border: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	margin-left: 2vw;
	padding-left: 1vw;
	padding-right: 1vw;
	border-radius: 100%;
	--line-height: 44px;
}

::placeholder {
	color: #af7ac5;
}

.button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4vh;
	margin: 0 auto;
	--width: 1080px;
	justify-content: center;
	padding-left: 20%;
	padding-right: 20%;
}

.filter-button {
	display: inline-block;
	--margin-bottom: -3%;
	order: 3;
	--width: 30%;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	border: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	--line-height: 44px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	/* identical to box height */
	color: #af7ac5;
	border-color: #af7ac5;
	border: none;
}

.load-more {
	font-family: montserrat;
	font-weight: 500;
	font-size: 20px;
	border: none;
	border-radius: 8px;
	color: white;
	background-color: #76448a;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-top: 2vh;
}
/* .filter-button:active,
.filter-button:focus {
	color: #af7ac5;
} */

@media only screen and (max-width: 1020px) {
	.filter-button {
		--width: 80%;
		font-size: 14px;
	}

	.button-container {
		padding-left: 2%;
		padding-right: 2%;
		gap: 1vh;
	}

	.search-bar {
		width: 80vw;
		height: auto;
		font-size: 30px;
	}

	.clear-btn{
		font-size: 28px;
	}
}
