.navbar {
	position: sticky;
	width: 100%;
	height: 10%;
	margin: 0 auto;
	--text-align: left;
	display: flex;
	justify-content: space-evenly;
}

#app-icon {
	width: 50.86px;
	height: 70px;
	/* margin-left: 18vw; */
	--display: inline-block;
	position: relative;
}

.nav-option {
	flex-shrink: 4;
	color: #76448a;
	display: inline-block;
	position: relative;
	--left: 24vw;
	/* margin-left: 4vw; */
	font-family: Montserrat, sans-serif;
	font-weight: 700;
}

#create {
	--margin-left: 6vw;
}

.sign-out-btn {
  /* position: relative; */
	background-color: #c72241;
	color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
  font-size: 30px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
	left:30%;

}
