.card-background {
	width: 337.38px;
	height: 125px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	position: relative;
	--top: 10vh;
	--left: 350px;
	--top: 463px;
	order: 5

}

#card-icon {
	width: 107.76px;
	height: 99.51px;
	position: absolute;
	--margin-left: 10vw;
	left: 9px;
	--top: calc(50% - 53.4px / 2 + 0.39px);
	--left: -10vw;
	top: 2vh;
}

#card-divider {
	width: 104.65px;
	height: 0px;
	background-color: #d7bde2;
	border: 1px solid #d7bde2;
	transform: rotate(90deg);
	position: absolute;
	left: 4em;
	top: 4em;
}

.card-title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	--font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	left: 37%;
	color: rgba(0, 0, 0, 0.4);
	margin-bottom: 0;
}

#card-place-type {
	font-weight: 300;
	margin-top: 4%;
	letter-spacing: 0.1em;
	--top: 10%;
	color: rgba(0, 0, 0, 0.5);
}

#card-place-name {
	font-weight: 200;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
	margin-top: 2%;
}

#card-place-radius {
	font-weight: 100 !important;

	margin-top: -4%;
}

.card-info {
	position: relative;
	text-align: left;
	left: 37%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.1em;
	margin-bottom: 2%;
	top: -4%;
}

#card-info-name {
	--margin-bottom: 0;
}

#card-info-radius {
	--top: -10%;
}
/* @media (min-width: 1080px) {
	#card-icon {
		--left: -6vw;
	}

	#card-divider {
		left: 3vw;
	}
}*/
