.sign-in-container {
	position: absolute;
	--margin: 0 auto;
	height: 91.2vh;
	width: 100%;
	overflow-y: hidden;
}

.box {
	background-color: #af7ac5;
	position: relative;
	width: 45%;
	height: 85%;
	top: 10%;
	border-radius: 8px;
	margin: 0 auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow-y: hidden;
}

.msg {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 73px;
	letter-spacing: 0.2em;
	margin-top: 8vh;
	color: #ffffff;
}

.msg-inicio {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.1em;
	color: #ffffff;
	margin-bottom: 6vh;
}

.sign-in-input {
	border: none;
	background: #ffffff;
	border-radius: 8px;
	padding-left: 1vw;
	margin-top: 2vh;
	width: 40vw;
	height: 8vh;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	color: #af7ac5;
}

.sign-in-btn {
	margin-top: 5vh;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	/* identical to box height */
	background-color: #76448a;
	color: #ffffff;
	border: none;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
	.box {
		top: 5%;
		width: 80%;
	}
}

@media only screen and (max-width: 1100px) {
	.sign-in-input {
		width: 70vw;
	}
}

@media only screen and (max-width: 800px) {
	/* .msg-inicio {
		font-size: 24px;
	}
	.msg {
		font-size: 50px;
	} */
}

@media only screen and (min-width: 240px) and (max-width: 800px) {
	.msg-inicio {
		font-size: 18px;
	}
	.msg {
		font-size: 34px;
	}
	.sign-in-input {
		font-size: 24px;
		height: 6vh;
	}
	.sign-in-btn {
		font-size: 22px;
	}
}
